.handleBox {
    top: 94%;
    transform: translateY(-94%);
    z-index: 9999;
}

.handleBoxActive {
    top: 5%;
}

.bgCustom1 {
    background: linear-gradient(180deg, rgba(56, 56, 56, 0.7) 0%, rgba(34, 34, 34, 0.5) 100%);
    animation: animate2 0.5s ease;
}

@keyframes animate2 {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}